<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>
<body>

<div>
    <header>
        <nav th:replace="~{/fragments/navigation}"></nav>
    </header>
</div>
<main>
    <div class="container bg-blur rounded mt-5 text-center text-white">
        <h1 class="text-center text-warning">Welcome to Futsal League</h1>
        <hr class="my-3 bg-white w-50"/>
        <p class="h4">Oops.. something went wrong!</p>
        <hr class="my-3 bg-white w-75" />
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>