<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <header th:replace="~{/fragments/navigation}">
    </header>
</div>

<main>
    <div class="container table-teams">
        <table class="table table-info table-striped">
            <thead>
            <tr>
                <th scope="col">Team name</th>
                <th scope="col">Rating</th>
                <th scope="col">Budget</th>
                <th scope="col">View Team</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="team : ${teams}" th:object="${team}">
                <td th:text="*{name}">Mark</td>
                <td th:text="*{rating}">Otto</td>
                <td th:text="*{budget}">@mdo</td>
                <td><a th:href="@{/teams/{id}(id=*{id})}">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
</body>

</html>